
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

#quote {
  background-color: rgb(40, 46, 196);
  width: auto;
  height: 50vh;
  object-fit: cover;
}

.blockquote {
  //float: right;
  width: 60%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

#img-quote {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 30vh;
}

.clear {
  clear: both;
  display: block;
}
