
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

body {
  margin: 0 0 0 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.navbar navbar-expand-lg navbar-dark bg-dark {
  position: sticky;
}

.titre {
  color: rgb(127,255,212);
}

#quote {
  background-color: rgb(40, 46, 196);
  width: auto;
  height: 50vh;
  object-fit: cover;
  color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 0 2rem 0 2rem;
  margin-top: 1rem;

  .blockquote {
    width: 60%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #img-quote {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    display: flex;

  }
}

#carouselExampleIndicators {
  margin-top: 1rem;

  .carousel-caption {
    color: #070704;
  }

  #clown-caption {
    color: #D8BC05;
  }

  #bridge-caption {
    color: #FFFFFF;
  }
}

.carousel-item {
  .d-block w-100{
  width: 1920px;
  height: 1048px;
  }
}

#bar-progress {
  /*display: flex;
  flex-direction: column;*/
  margin: 1rem;
}

#foot {
  text-align: center;
  #footer-box {
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}
// CSS pour la page Contact

form {
  padding: 2rem;;
}

// CSS pour la page Team

#dream-team {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.card-mb-3 {
  display: block;
  margin: 2%;
  width: 45%;
  height: 33.3%;
  color: #FFFFFF;
  text-align: center;
  border: 2px solid rgb(72,209,204);
  border-radius: 2rem;
  padding: 5px;
}

img.pdp {
  margin-left: auto;
  margin-right: auto;
}
